* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}em,
i {
    font-style: normal;
}
li {
    list-style: none;
}
img {
    border: 0; 
    vertical-align: middle;
}
button {
    cursor: pointer;
}
a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #e33333;
}

h4 {
    font-weight: 400;
}



@media screen and (max-width : 1024px){
    html{
        font-size : 42.66px!important;
    }
    .overview ul li span{
        top : -14px!important;
    }
}

@media screen and (max-width : 1140px){
    .chart .data{
        width:  108px!important;
    }
}

@media screen and (min-width : 1920px){
    html{
        font-size : 80px!important;
    }
}

body{
    background: url("../image/bg.jpg") no-repeat;
    background-size:cover;
}
